header {
	text-align: left;
}

.form {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--background-color);
	margin: 0 30% 5% 30%;
	padding: 2% 0 2% 0;
	min-width: 280px;
	width: 40%;
	border-radius: 20px;

	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
}

.field,
label,
.field-name {
	color: var(--text-color);
	width: 50%;
	min-width: 170px;
	height: 35px;
	border-radius: 10px;
}

.field,
.btn {
	margin: 5px 0 0 0;
	border: groove var(--border-color);
}

.btn {
	outline: none;
	margin: 10px 0 20px 0;
	height: 40px;
	width: 50%;
	min-width: 170px;
	text-align: center;
	border-radius: 20px;
	color: var(--text-color-light);
	font-size: 1.1rem;
	font-weight: bold;
	cursor: pointer;
	background-color: var(--primary-color);
	transition: all, transform 0.5s ease;
}

.btn:hover {
	border: solid black;
	background-color: var(--primary-color-dark);
}

label {
	font-size: 1.3rem;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 10px;
}

.errorMsg {
	display: none;
	width: 50%;
	min-width: 170px;
	text-align: left;
	color: #d63301;
	font-size: 0.9rem;
	margin: 5px 0 5px 0;
}

#text {
	height: 150px;
}

.field-name {
	display: flex;
	text-align: left;
	height: 15px;
	margin: 15px 0 0 0;
}
