:root {
	--primary-color: #7985fa;
	--primary-color-dark: #5245da;
	--background-color: #f0edff;
	--section-color: rgba(249, 248, 255, 0.5);
	--text-color: #464555;
	--text-color-light: #f9f8ff;
	--hint-background: #f9f871;
	--border-color: #e4e9f7;
	--delete-color: rgb(231, 85, 85);
	--delete-color-dark: red;
}

/* ======== MAIN ======== */

* {
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	font-family: "Poppins", sans-serif;
}

html,
body {
	margin: 0;
	padding: 0;
	outline: 0;
	border: 0;
	min-height: 100%;
}

body {
	background-image: linear-gradient(
		to right bottom,
		#f0edff,
		#e3deff,
		#d6cfff,
		#c8c0ff,
		#b9b2ff,
		#b8abfe,
		#b8a4fd,
		#b89cfb,
		#c699f7,
		#d397f1,
		#de94ec,
		#e992e5
	);
}

/* ======== HEADER ======== */

header {
	margin: 10px 0;
	text-align: center;
}

.logo {
	height: 50%;
	width: 50%;
}

/* ======== CARDS ======== */

.cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 3%;
}

.card {
	margin: 1rem;
	text-align: center;
	font-size: 1.2rem;
	border-radius: 20px;
	padding: 20px;
	background-color: var(--background-color);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
	transition: background-color, transform 0.5s ease;
	cursor: pointer;
}

.card figcaption {
	color: var(--text-color);
}

.card:hover {
	transform: scale(1.1);
	background-color: var(--primary-color);
}

.card:hover figcaption {
	color: var(--text-color-light);
}

.fig img {
	height: 250px;
	width: 250px;
}

/* ======== RESPONSIVENESS ======== */

@media (max-width: 740px) {
	.logo {
		width: 350px;
		height: 90px;
	}

	.fig img {
		width: 150px;
		height: 150px;
	}
}
