:root {
	--primary-color: #7985fa;
	--primary-color-dark: #5245da;
	--background-color: #f0edff;
	--section-color: rgba(249, 248, 255, 0.5);
	--text-color: #464555;
	--text-color-light: #f9f8ff;
	--hint-background: #f9f871;
	--border-color: #e4e9f7;
	--delete-color: rgb(231, 85, 85);
	--delete-color-dark: red;
}

* {
	box-sizing: border-box;
	text-decoration: none;
	font-family: "Poppins", sans-serif;
}

html,
body {
	margin: 0;
	padding: 0;
	outline: 0;
	border: 0;
	min-height: 100%;
	width: 100%;
	scroll-behavior: smooth;
}

body {
	background-image: linear-gradient(
		to right bottom,
		#f0edff,
		#e3deff,
		#d6cfff,
		#c8c0ff,
		#b9b2ff,
		#b8abfe,
		#b8a4fd,
		#b89cfb,
		#c699f7,
		#d397f1,
		#de94ec,
		#e992e5
	);
}

a.nav-link {
	font-size: 0.9vw;
	text-transform: uppercase;
}

.nav-area {
	background: #262626;
	position: absolute;
	width: 100%;
	margin: 5px 0;
	display: block;
}

.nav-area ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.nav-area > ul > li {
	float: left;
	position: relative;
}

.nav-area ul li a {
	text-decoration: none;
	color: #fff;
	padding: 15px 20px;
	display: block;
}

.nav-area ul li:hover a {
	background-color: #3d3d3d;
}

#wrapper,
#wrapper-signs,
#wrapper-intersections {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	background-color: var(--background-color);
	border-radius: 15px;
	margin: 5% 15% 5% 15%;
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.6);
	padding: 20px;
}

h1 {
	color: #262626;
	font-size: 36px;
	margin: auto;
}

#main-header {
	text-align: center;
	font-size: 50px;
}

section > ul > li {
	font-size: 20px;
}

.item1 {
	grid-area: header;
}

.item2 {
	grid-area: col1;
}

.item3 {
	grid-area: col2;
}

.item4 {
	grid-area: col3;
}

.item5 {
	grid-area: col4;
}

.item6 {
	grid-area: col5;
}

.item7 {
	grid-area: col6;
}

.item8 {
	grid-area: col7;
}

.item9 {
	grid-area: col8;
}

.grid-container {
	display: grid;
	grid-template-areas:
		"header header header header"
		"col1 col2 col3 col4"
		"col5 col6 col7 col8";

	margin: auto;
}

.grid-container > div {
	text-align: center;
	padding: 20px 0;
	font-size: 30px;
}

.grid-container-intersection {
	display: grid;
	grid-template-areas:
		"header header"
		"main main"
		"header2 header2"
		"col1 video1"
		"col2 col2"
		"photo1 photo1"
		"conclusion conclusion"
		"header3 header3"
		"video2 video2";

	margin: auto;
}

.inter-header {
	grid-area: header;
	text-align: center;
}

.main {
	grid-area: main;
}

.header2 {
	grid-area: header2;
}

.col1 {
	grid-area: col1;
}

.video1 {
	grid-area: video1;
	margin: auto;
	padding: 0 10px;
}

.col2 {
	grid-area: col2;
}

.photo1 {
	grid-area: photo1;
	text-align: center;
}

.conclusion {
	grid-area: conclusion;
}

.header3 {
	grid-area: header3;
}

.video2 {
	grid-area: video2;
	text-align: center;
}

.grid-container > div {
	text-align: center;
	padding: 20px 0;
	font-size: 30px;
}

h3 {
	font-size: 26px;
	font-weight: bolder;
}

h4 {
	font-size: 20px;
	font-weight: bolder;
}

.grid-container > div > figcaption,
.grid-container-intersection > div > figcaption {
	text-align: center;
	color: #262626;
	font-style: italic;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 14px;
}

img {
	margin: 5px 0;
}

video {
	width: 320px;
	height: 240px;
}

.important {
	background-color: yellow;
	border-radius: 15px;
	padding: 2%;
}

.btn {
	outline: none;
	margin: 10px 0 20px 0;
	height: 40px;
	width: 50%;
	min-width: 170px;
	text-align: center;
	border-radius: 20px;
	color: var(--text-color-light);
	font-size: 1.1rem;
	font-weight: bold;
	cursor: pointer;
	background-color: var(--primary-color);
	transition: all, transform 0.5s ease;
}

.resultMsg {
	font-size: 1.5rem;
	color: green;
}
